* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  header {
    background-color: #f3aa0e;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  button {
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: #96b97d; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
  }

  .Q1-1 {
    text-align:center;
    background:#b7eaff; /*背景色の指定*/
    border:#ffffff 2px dashed; /*境界線の指定*/
    box-shadow: 0 0 0 6px #b7eaff; /*境界線の外側の指定*/
    margin: 20px auto;
    padding:10px;
    height: auto;
    width: 200px;
    }
    .box p {
    margin:0;
    padding:0;
    }

    .Q1-2 {
      text-align:center;
      background:#b7eaff; /*背景色の指定*/
      border:#ffffff 2px dashed; /*境界線の指定*/
      box-shadow: 0 0 0 6px #b7eaff; /*境界線の外側の指定*/
      margin: 20px auto;
      padding:10px;
      height: auto;
      width: 200px;
      }
      .box p {
      margin:0;
      padding:0;
      }

      .Q1-3 {
        text-align:center;
        background:#b7eaff; /*背景色の指定*/
        border:#ffffff 2px dashed; /*境界線の指定*/
        box-shadow: 0 0 0 6px #b7eaff; /*境界線の外側の指定*/
        margin: 20px auto;
        padding:10px;
        height: auto;
        width: 200px;
        }
        .box p {
        margin:0;
        padding:0;
        }

        .Q1-4 {
          text-align:center;
          background:#b7eaff; /*背景色の指定*/
          border:#ffffff 2px dashed; /*境界線の指定*/
          box-shadow: 0 0 0 6px #b7eaff; /*境界線の外側の指定*/
          margin: 20px auto;
          padding:10px;
          height: auto;
          width: 200px;
          }
          .box p {
          margin:0;
          padding:0;
          }

 .Q2-1 {
    text-align:center;
    background:#7cc0f1; /*背景色の指定*/
    border:#ffffff 2px dashed; /*境界線の指定*/
    box-shadow: 0 0 0 6px #7cc0f1; /*境界線の外側の指定*/
    margin: 20px auto;
    padding:10px;
    height: auto;
    width: 200px;
    }
    .box p {
    margin:0;
    padding:0;
    }    
    
    .Q2-2 {
      text-align:center;
      background:#7cc0f1; /*背景色の指定*/
      border:#ffffff 2px dashed; /*境界線の指定*/
      box-shadow: 0 0 0 6px #7cc0f1; /*境界線の外側の指定*/
      margin: 20px auto;
      padding:10px;
      height: auto;
      width: 200px;
      }
      .box p {
      margin:0;
      padding:0;
      }

      .Q2-3 {
        text-align:center;
        background:#7cc0f1; /*背景色の指定*/
        border:#ffffff 2px dashed; /*境界線の指定*/
        box-shadow: 0 0 0 6px #7cc0f1; /*境界線の外側の指定*/
        margin: 20px auto;
        padding:10px;
        height: auto;
        width: 200px;
        }
        .box p {
        margin:0;
        padding:0;
        }

   .Q3-1 {
  text-align:center;
  background:#7c86f1; /*背景色の指定*/
  border:#ffffff 2px dashed; /*境界線の指定*/
  box-shadow: 0 0 0 6px #7c86f1; /*境界線の外側の指定*/
  margin: 20px auto;
  padding:10px;
  height: auto;
  width: 200px;
          }
    .box p {
      margin:0;
      padding:0;
          }

          .Q3-2 {
            text-align:center;
            background:#7c86f1; /*背景色の指定*/
            border:#ffffff 2px dashed; /*境界線の指定*/
            box-shadow: 0 0 0 6px #7c86f1; /*境界線の外側の指定*/
            margin: 20px auto;
            padding:10px;
            height: auto;
            width: 200px;
                    }
              .box p {
                margin:0;
                padding:0;
                    }

                    .Q3-3 {
                      text-align:center;
                      background:#7c86f1; /*背景色の指定*/
                      border:#ffffff 2px dashed; /*境界線の指定*/
                      box-shadow: 0 0 0 6px #7c86f1; /*境界線の外側の指定*/
                      margin: 20px auto;
                      padding:10px;
                      height: auto;
                      width: 200px;
                              }
                        .box p {
                          margin:0;
                          padding:0;
                              }


    .Q4 {
      text-align:center;
      background:#957cf1; /*背景色の指定*/
      border:#ffffff 2px dashed; /*境界線の指定*/
      box-shadow: 0 0 0 6px #957cf1; /*境界線の外側の指定*/
      margin: 20px auto;
      padding:10px;
      height: auto;
      width: 200px;
      }
      .box p {
      margin:0;
      padding:0;
      }



    .Q5 {
      text-align:center;
      background:#e77cf1; /*背景色の指定*/
      border:#ffffff 2px dashed; /*境界線の指定*/
      box-shadow: 0 0 0 6px #e77cf1; /*境界線の外側の指定*/
      margin: 20px auto;
      margin-bottom: 50px;
      padding:10px;
      height: auto;
      width: 200px;
      }
      .box p {
      margin:0;
      padding:0;
      }

  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
  }
